# Copyright (c) 2024 tinyVision.ai Inc.
# SPDX-License-Identifier: Apache-2.0

config BOARD_TINYCLUNX33_SOM
	# RTL releases supported for the tinyCLUNX33 SoM Rev1 (End-of-Life status)
	select SOC_TINYCLUNX33V008 if BOARD_TINYCLUNX33_SOM_REV1_TINYCLUNX33V008
	select SOC_TINYCLUNX33V009 if BOARD_TINYCLUNX33_SOM_REV1_TINYCLUNX33V009
	select SOC_TINYCLUNX33V010 if BOARD_TINYCLUNX33_SOM_REV1_TINYCLUNX33V010

	# RTL releases supported for the tinyCLUNX33 SoM Rev2 (Active status)
	select SOC_TINYCLUNX33V008 if BOARD_TINYCLUNX33_SOM_REV2_TINYCLUNX33V008
	select SOC_TINYCLUNX33V009 if BOARD_TINYCLUNX33_SOM_REV2_TINYCLUNX33V009
	select SOC_TINYCLUNX33V010 if BOARD_TINYCLUNX33_SOM_REV2_TINYCLUNX33V010

	select HAS_FLASH_LOAD_OFFSET
