# Copyright (c) 2024 tinyVision.ai Inc.
# SPDX-License-Identifier: Apache-2.0

config VIDEO_PIXELPUMP
	bool "PixelPump MIPI-CSI controller"
	depends on DT_HAS_TINYVISION_PIXELPUMP_ENABLED
	default y
	help
	  Enable driver for the PixelPump MIPI-CSI controller
