# Copyright (c) 2024 tinyVision.ai Inc.
# SPDX-License-Identifier: Apache-2.0

config VIDEO_UVCMANAGER
	bool "uvcmanager ad-hoc pattern generator"
	depends on DT_HAS_TINYVISION_USB23_MANAGER_ENABLED
	default y
	help
	  Enable driver for uvcmanager pattern generator
