# Copyright (c) 2022 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: Apache-2.0

config USBD_CDC_UVC_CLASS
	bool "USB CDC UVC implementation [EXPERIMENTAL]"
	help
	  USB device CDC UVC class implementation.

if USBD_CDC_UVC_CLASS

config USBD_CDC_UVC_STACK_SIZE
	int "USB CDC UVC workqueue stack size"
	default 1024
	help
	  USB CDC UVC workqueue stack size.

module = USBD_CDC_UVC
module-str = usbd cdc_uvc
default-count = 1
source "subsys/logging/Kconfig.template.log_config"

endif
